<ion-header>
  <ion-toolbar>
    <ion-title> QR Code </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button class="qrbutton" (click)="downloadQR()">Download QR</ion-button>
<ion-content>
  <div id="canvasElement" #canvasElement>
    <ion-card class="ion-text-center add-padding">
      <qrcode
        [qrdata]="dataString"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ion-card>
    <div class="product_name" *ngIf="product">
      <!-- <ion-item *ngFor="let prod in product"> -->
      <h2 class="productname">{{product.product_name}}</h2>
      <!-- </ion-item> -->
    </div>
  </div>
</ion-content>
